@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.custom-img{
  background-image: url('https://66.media.tumblr.com/313ee30370e6fc678b18c556a1679da6/acc876de680ab01e-f7/s540x810/9d553f2972181d8014ccb7abf072826081f87d4b.gif');
  /* background-image: url('https://66.media.tumblr.com/b219b381e46c3d4d8acc4b6f5d5b9bcc/tumblr_p124jscQxC1viuar9o1_1280.gif'); */
  background-size: 170vh;
  background-repeat: no-repeat;
} 
.work-img{
  background-image: url('https://media2.giphy.com/media/9bTjZrytydVRK/giphy.gif?cid=ecf05e47ush9sdmo6ycrewu5j7w29wvhakio78bnry006ybw&rid=giphy.gif&ct=g');
  /* background-image: url('https://i.giphy.com/media/TZf4ZyXb0lXXi/giphy.webp'); */
  /* background-image: url('https://66.media.tumblr.com/67b7cf928a67bda7fd89f589b866181f/tumblr_nvitzdSMmp1tchrkco1_500.gif'); */
  /* background-image: url('https://66.media.tumblr.com/cfd2a3bd1e471b94e3228f8c6a320823/e2dfb13851320614-49/s500x750/c7db76cc9fc8ec6ae656dce3d6747b308fb618c4.gif'); */
  /* background-image: url('https://66.media.tumblr.com/b219b381e46c3d4d8acc4b6f5d5b9bcc/tumblr_p124jscQxC1viuar9o1_1280.gif'); */
  background-size: 170vh;
  background-repeat: no-repeat;
} 
body {
  
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slider{
  width:1440;
  height:600;
  object-fit: cover;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
